.mom{
    font-family: 'Ubuntu', sans-serif;
    background-color:lavender;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    font-style: italic;
}

.table{
    width: 40px;
    
}
th{
    text-align: left;
    
}
table, th, td{
 border-collapse: collapse;
 

}
th, td{
    padding: 0px;
}